@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family : "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3500D3;
    color : white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
  position: absolute;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

.container {
   display: block;
   justify-content: center;
   align-items: center;
   text-align: center;
}


 li {
    list-style-type: none;
    width : 100%;
    cursor: pointer;
    padding : 15px;
    border-radius : 10px;
}

.container ul li:hover {
  background-color: white;
  color : black;
}

.container ul li:hover a {
  color : black;
}

 button {
  width : 80px;
  height : 50px;
  border : none;
  transition: 100ms all;
  background : dodgerblue;
  border-radius: 9px;
  color : white;
  cursor : pointer;
  font-size: 17px;
}

button:active {
  transform : scale(0.9);
}


.menu {
  display : flex;
  align-items: center;
  justify-content: space-around;
  background-color: #190061;
  width : 100%;
}

.card {
 /* border : 1px solid black; */
  padding : 10px;
  transition : 0.3s ease;
  margin : 50px; 
  border-radius : 20px;
  width: 300px;
  height: 200px;
  display : inline-block;
  text-align: center;
  background-color: white;
  color : black;
}

.card:hover {
 /* position: relative;
  bottom : 10px; */
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color : white;
}

.menu-btn {
  width: 80px;
  padding: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 500px;
  height: 300px;
  border: 1px solid white;
  margin: auto;
  background-color: black;
  color : white;
  border-radius: 10px;
}

fieldset div {
  margin-bottom: 10px;
}

input {
  border : 0.5px solid black;
  padding : 15px;
  border-radius: 6px;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.community-card {
   width : 400px;
   height: 400px;
   background-color: white;
   color : black;
   padding: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   margin: auto 10px;
   margin-top : 10px;
}

.community-card span {
  margin-bottom : 5px;
}

.community-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  max-height: 700px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info span {
  margin-top : 8px;
}

footer {
  background : #05386B;
  width: 100%;
  font-size: 15px;
  position: fixed;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  body {
    zoom : 80%;
  }
}